version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: docker/web.Dockerfile
      args:
        - DEV=true
    init: true
    container_name: web-service
    restart: no
    env_file:
      - ./env/web.env
    volumes:
      - ./src:/src
    ports:
      - "8000:8000"
    depends_on:
      mongo:
        condition: service_healthy 

  mongo:
    image: mongo:7
    container_name: mongo-service
    ports:
      - "27017:27017"
    volumes:
      - mongo-dev-data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 10


volumes:
  mongo-dev-data:
