version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: docker/web.Dockerfile
      args:
        - DEV=true
    container_name: web-service
    restart: no
    env_file:
      - ./env/web.env
    volumes:
      - ./src:/src
    ports:
      - "8000:8000"
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: mongo-service
    ports:
      - "27017:27017"
    volumes:
      - mongo-dev-data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password

volumes:
  mongo-dev-data:
